[user]
	name = Wolfgang Werner
	email = mail@wolfgang-werner.net


[core]
	excludesfile = ~/.gitignore_global


[includeIf "gitdir:~/Projects/Dixa/"]
	path = ~/Projects/Dixa/.gitconfig

[icdiff]
	options = --highlight --line-numbers
